{% include header.html %}

<div id="content" class="sixteen columns">
	<div class="three columns">&nbsp;</div>
	<div class="ten columns">
		<h2>{{ page.title }}</h2>
		<h3 class="subheading">{{ page.subheading }}</h3>
		{{ content }}
	</div>
	<div class="three columns">&nbsp;</div>
</div>

<div id="sub-content" class="sixteen columns">
	<div class="one-third column alpha">
		{% include recent-posts.html %}
	</div>
	
	<div class="one-third column">
		{% include recent-posts.html %}
	</div>

	<div class="one-third column omega">
		{% include pages.html %}	
	</div>
</div>

{% include footer.html %}