{% include header.html %}

<div id="content" class="two-thirds column">
	<h2>{{ page.title }}</h2>
	<h3 class="subheading">{{ page.subheading }}</h3>
	<p class="post-meta"><span class="post-date">{{ page.date | date_to_string }}</span> &mdash; <span class="author">{{ page.author }}</span></p>
	
	{{ content }}
	
	<p class="tags">Tags: {{ page.tags | array_to_sentence_string }}</p>
	<p class="words">Words: {{ page.content | number_of_words }}</p>
</div>

{% include sidebar.html %}
{% include footer.html %}